@layer reset, base, tokens, recipes, utilities;

html {
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  background-color: var(--colors-bg);
  color: var(--colors-fg);

  --font-scale: 10vw;
}

* {
  transition: all 0.2s;
}

@layer base {
  h1 {
    font-size: var(--font-sizes-heading1);
    font-size: clamp(
      var(--font-sizes-heading1-min),
      var(--font-scale),
      var(--font-sizes-heading1-max)
    );
    font-weight: var(--font-weights-black);
  }

  h2 {
    font-size: var(--font-sizes-heading2);
    font-size: clamp(
      var(--font-sizes-heading2-min),
      var(--font-scale),
      var(--font-sizes-heading2-max)
    );
    font-weight: var(--font-weights-black);
  }

  h3 {
    font-size: var(--font-sizes-heading3);
    font-size: clamp(
      var(--font-sizes-heading3-min),
      var(--font-scale),
      var(--font-sizes-heading3-max)
    );
    font-weight: var(--font-weights-extrabold);
  }

  h4 {
    font-size: var(--font-sizes-heading4);
    font-size: clamp(
      var(--font-sizes-heading4-min),
      var(--font-scale),
      var(--font-sizes-heading4-max)
    );
    font-weight: var(--font-weights-extrabold);
  }

  h5 {
    font-size: var(--font-sizes-heading5);
    font-size: clamp(
      var(--font-sizes-heading5-min),
      var(--font-scale),
      var(--font-sizes-heading5-max)
    );
    font-weight: var(--font-weights-bold);
  }

  h6 {
    font-size: var(--font-sizes-heading6);
    font-size: clamp(
      var(--font-sizes-heading6-min),
      var(--font-scale),
      var(--font-sizes-heading6-max)
    );
    font-weight: var(--font-weights-bold);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--fonts-heading);
    margin-bottom: var(--spacing-1);
    line-height: var(--line-heights-heading-fluid-sm);
  }

  p {
    font-family: var(--fonts-body);
    margin-bottom: var(--spacing-2);
  }

  a {
    color: var(--colors-link);
  }
  a:hover {
    color: var(--colors-link-hover);
    text-decoration: underline;
  }

  ul {
    margin-left: 1rem;
    list-style-type: square;
    color: var(--colors-fg-muted);
  }

  hr {
    border: 0;
    border-top: 1px solid var(--colors-fg-muted);
    margin: var(--spacing-8) 0 var(--spacing-12) 0;
  }
}
